@import './variables.scss';
@import './mixins.scss';

body {
  margin: 0;
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background: $background-green;
  background: $background-grey;
}

code {
  font-family: $font-code;
}

#type-select-label {
  color: black;
}

.table {
  border: 3px $main-border;
  background-color: $background-green;
}

.row {
  border-bottom: 1px $main-border;
}

.cell {
  border-bottom: none;
  text-transform: capitalize;
}

.dropdownCell {
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: 1px $main-border;
}

.topCell {
  font-weight: bold;
  border-bottom: 3px $main-border;
}

.playIcon {
  height: 18px;
  width: 18px;
}

.albumTrackBox {
  min-width: 120px;
  max-width: max-content;
}

.paper {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  min-width: 120px;
  max-width: 300px;
  @include spacing(1);
  border: 1px $main-border;
  background: transparent;
}

.formControl {
  @include spacing(1);
  min-width: 120px;
}

.accessButton {
  @include spacing(1);
  background: white;
  border: 1px $main-border;
}

.input {
  margin-left: 8px;
  flex: 1px;
}

.iconButton {
  padding: 10px;
}

.card {
  max-width: 150px;
  border: 1px $main-border;
}
.cardMedia {
  height: 150px;
  width: 150px;
  border-bottom: 1px $main-border;
}
.cardGrid,
.topArtistCardGrid {
  flex-grow: 1;
}

.recommendationInfo {
  @include spacing(1);
  min-width: 150px;
  width: 300px;
  border: 1px $main-border;
}

.MuiAccordion-root.Mui-expanded:first-child {
  width: 100%;
}

/* ----- TRACK CARD/GRID ----- */

[class*='trackPage0'] {
  background: white;
}

.trackGridPages {
  @include spacing(1);
}

.trackGridPages > button {
  border: 1px $main-border;
}

.trackPaper {
  padding: 8px;
  margin: 10px;
  width: 350px;
  border: 1px $main-border;
}
.trackCardMedia {
  height: 100px;
  width: 100px;
}

.trackCardInfo {
  padding-left: 8px;
}

.trackCardPlayTypography {
  height: 0;
}
.trackCardPlayButton {
  margin-top: -60px;
  margin-left: 3px;
  height: 25px;
  width: 25px;
}
.trackCardPlayIcon {
  padding: 0;
  border: 1px $main-border;
  border-radius: 25px;
  color: white;
  background-color: black;
}

.trackCardMoreTypography,
.trackCardAddTypography {
  margin: -5px;
}
.trackCardMoreButton,
.trackCardAddButton {
  padding: 2px;
  height: 35px;
  width: 35px;
}
.trackCardMoreIcon,
.trackCardAddIcon {
  height: 23px;
  width: 23px;
}
