$width-container: 1000px;

$font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$font-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$background-green: rgb(30 215 96);

$background-grey: #ebebeb;

$main-border: solid black;
